@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    padding: 20px;
    font-family: "Mukta Mahee", sans-serif;
    height: 100%;
}

section{
    max-width: 1300px; 
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
    text-align: center;
}
h2{
    font-size: 2em; 
    margin-bottom: 15px;
    text-align: center;
}

p {
    line-height: 1.6em;
    margin-bottom: 20px;
    font-size: 1.4em; 
    margin-top: 10px;

}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 2%; 
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


.back-arrow {
    font-size: 24px;
    color: #f39c12;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    text-decoration: none; 
    transition: color 0.3s ease;
    z-index: 10; 
}

.next-arrow {
    font-size: 24px;
    color: #f39c12;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    text-decoration: none; 
    transition: color 0.3s ease;
    z-index: 10;
}
.back-arrow:hover, .next-arrow:hover{
    color: #e67e22;
    transform: scale(1.1);
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }
    h2 {
        font-size: 1.8em; 
    }

    p {
        font-size: 1.2em; 
        text-align: left;
    }
    section {
        padding: 10px;
     
    }

}


@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }
    h2 {
        font-size: 1.5em; 
        margin-bottom: 10px; 
    }

    section {
        padding: 5px;
    }

}
