
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Mukta Mahee";
    src: url(../site/fonts/MetalMania-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
  }
body {
    color: #fff;
    padding: 20px;
    font-family: "Mukta Mahee", sans-serif;
}

section{
    max-width: 1300px; 
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
    text-align: center;
}
h2{
    font-size: 2em; 
    margin-bottom: 15px;
    text-align: center;
}

p {
    line-height: 1.6em;
    margin-bottom: 20px;
    font-size: 1.4em; 

}
.back-arrow {
    font-size: 24px;
    color: #f39c12;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 10;
}

.back-arrow:hover {
    color: #e67e22;
    transform: scale(1.1);
}

table {
    width: 80%; 
    max-width: 800px; 
    margin: 20px auto; 
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    overflow: hidden;
}


th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}


th {
    background-color: rgba(113, 22, 165, 0.9); 
    color: #fff; 

}


td {
    color: #333; 

}





.back-arrow:hover{
    color: #e67e22;
    transform: scale(1.1);
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
    }
    h2 {
        font-size: 1.8em; 
    }

    p {
        font-size: 1.2em; 
    }

    main {
        padding: 10px;
    }
    table {
        width: 95%;
    }

    th, td {
        padding: 10px; 
    }

    
}


@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }
    h2 {
        font-size: 1.5em; 
        margin-bottom: 10px; 
    }

    main {
        padding: 5px;
    }

}
